@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #131316;
    color: #b1e2a7;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.icons{
    padding-right: 50px;
}

section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: non;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

li, a, button{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #b1e2a7;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 10%;
    background-color:  #202024;;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 30px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover{
    color: #408b31;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(0, 136, 100,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(0, 136, 100,0.8);
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: rgb(0, 136, 100,0.8);
}

body::-webkit-scrollbar-thumb{
    background: #b1e2a7;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }
  
.card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 }

 .photo-grid {
    display: grid;
    gap: 1rem;
  
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
  }
  
  /* Medium screens */
  @media screen and (min-width: 600px) {
    .card-tall {
      grid-row: span 2 / auto;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 30px;
      color: #ffffff;
      text-decoration: none;
      align-items:start;
      padding-left: 10px;
    }
  
    .card-wide {
      grid-column: span 2 / auto;
    }
  }

  .ProjectsGrid{

    display: grid;
    place-items: center;
    align-items: center;
    min-height: 400px;
    padding: 0px 0vw;
    position: relative;
    display: flex;
    flex-direction: column;
}

.custom-shape-divider-top-1676848583 {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1676848583 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 35px;
}

.custom-shape-divider-top-1676848583 .shape-fill {
    fill: #A1F8A0;
}

.custom-shape-divider-bottom-1676848458 {
    position: absolute;

    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1676848458 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 64px;
}

.custom-shape-divider-bottom-1676848458 .shape-fill {
    fill: #A1F8A0;
}

img {
    border-radius: 50%;
    margin-top: 50px;
}
em{
    font-size: 17px;
}
